@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sora";
  src: url("https://res.cloudinary.com/dq033xs8n/raw/upload/v1746245777/Sora-Variable_slftao.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraMono";
  src: url("https://res.cloudinary.com/dq033xs8n/raw/upload/v1746245777/FiraMono-Regular_yjmn0v.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraMono";
  src: url("https://res.cloudinary.com/dq033xs8n/raw/upload/v1746245778/FiraMono-Medium_k1luil.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraMono";
  src: url("https://res.cloudinary.com/dq033xs8n/raw/upload/v1746245777/FiraMono-Bold_vz3m8l.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("https://res.cloudinary.com/dq033xs8n/raw/upload/v1746245777/DMSans-Regular_i4x3u9.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("https://res.cloudinary.com/dq033xs8n/raw/upload/v1746245777/DMSans-Medium_fy54m9.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("https://res.cloudinary.com/dq033xs8n/raw/upload/v1746245777/DMSans-Bold_xjoif9.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("https://res.cloudinary.com/dq033xs8n/raw/upload/v1746245777/DMSans-SemiBold_u3brxh.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  color: #171717;
  background: #fff;
  font-family: "FiraMono", monospace, "Courier New", Courier;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c8bafd;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c8bafd transparent;
}

body::-webkit-scrollbar {
  display: none;
}

.font-sora {
  font-family: "sora", "DMSans", Arial, Helvetica, sans-serif;
}
.font-dmsans {
  font-family: "DMSans", Arial, Helvetica, sans-serif;
}
.font-firamono {
  font-family: "FiraMono", monospace, "Courier New", Courier;
}
.fade-in-up {
  animation: fadeInUp 0.4s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
