@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sora";
  src: url("https://res.cloudinary.com/dv52zu7pu/raw/upload/v1751386802/Sora-Variable_misbzy.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraMono";
  src: url("https://res.cloudinary.com/dv52zu7pu/raw/upload/v1751386820/FiraMono-Regular_icngzo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraMono";
  src: url("https://res.cloudinary.com/dv52zu7pu/raw/upload/v1751386820/FiraMono-Medium_vaygya.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraMono";
  src: url("https://res.cloudinary.com/dv52zu7pu/raw/upload/v1751386820/FiraMono-Bold_eqfvz9.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("https://res.cloudinary.com/dv52zu7pu/raw/upload/v1751386813/DMSans-Regular_bf7tpf.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("https://res.cloudinary.com/dv52zu7pu/raw/upload/v1751386813/DMSans-Medium_hmfghb.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("https://res.cloudinary.com/dv52zu7pu/raw/upload/v1751386813/DMSans-Bold_cz06ou.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  src: url("https://res.cloudinary.com/dv52zu7pu/raw/upload/v1751386813/DMSans-SemiBold_n6h8d0.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  color: #171717;
  background: #fff;
  font-family: "FiraMono", monospace, "Courier New", Courier;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c8bafd;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c8bafd transparent;
}

body::-webkit-scrollbar {
  display: none;
}

.font-sora {
  font-family: "sora", "DMSans", Arial, Helvetica, sans-serif;
}
.font-dmsans {
  font-family: "DMSans", Arial, Helvetica, sans-serif;
}
.font-firamono {
  font-family: "FiraMono", monospace, "Courier New", Courier;
}
.fade-in-up {
  animation: fadeInUp 0.4s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
