@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "clash-display";
  src: url("../assets/fonts/ClashDisplayVariable.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "segoe-ui";
  src: url("../assets/fonts/SegoeUIBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "FiraMono";
  src: url("../assets/fonts/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraMono";
  src: url("../assets/fonts/FiraMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraMono";
  src: url("../assets/fonts/FiraMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("../assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("../assets/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("../assets/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("../assets/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  color: #171717;
  background: #fff;
  font-family: "FiraMono", monospace;
  -ms-overflow-style: none;
}

.font-clash-display {
  font-family: "clash-display", monospace;
}

.font-segoe-ui {
  font-family: "segoe-ui", monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c8bafd;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c8bafd transparent;
}

body::-webkit-scrollbar {
  display: none;
}
