body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "clash-display";
  src: url("./fonts/ClashDisplayVariable.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "segoe-ui";
  src: url("./fonts/SegoeUIBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

.font-clash-display {
  font-family: "clash-display", sans-serif;
}
.font-segoe-ui {
  font-family: "segoe-ui", sans-serif;
}

img {
  object-fit: cover;
}
